/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PolarCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { Order, Order$inboundSchema } from "../models/components/order.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import {
  HTTPValidationError,
  HTTPValidationError$inboundSchema,
} from "../models/errors/httpvalidationerror.js";
import {
  OrderNotDraft,
  OrderNotDraft$inboundSchema,
} from "../models/errors/ordernotdraft.js";
import {
  OrdersFinalizeResponse402OrdersFinalize,
  OrdersFinalizeResponse402OrdersFinalize$inboundSchema,
  OrdersFinalizeResponse403OrdersFinalize,
  OrdersFinalizeResponse403OrdersFinalize$inboundSchema,
} from "../models/errors/ordersfinalize.js";
import { PolarError } from "../models/errors/polarerror.js";
import {
  ResourceNotFound,
  ResourceNotFound$inboundSchema,
} from "../models/errors/resourcenotfound.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  OrdersFinalizeRequest,
  OrdersFinalizeRequest$outboundSchema,
} from "../models/operations/ordersfinalize.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Finalize Order
 *
 * @remarks
 * Finalize a draft order and synchronously attempt an off-session charge.
 *
 * On success, the order transitions to `paid` and benefit grants fire
 * before the response returns. On failure (decline, missing payment method,
 * SCA challenge), the order stays in `draft` and a 4xx error is returned.
 *
 * The request fails with 412 if the order is not in `draft` status.
 *
 * **Scopes**: `orders:write`
 */
export function ordersFinalize(
  client: PolarCore,
  request: OrdersFinalizeRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Order,
    | OrdersFinalizeResponse402OrdersFinalize
    | OrdersFinalizeResponse403OrdersFinalize
    | ResourceNotFound
    | OrderNotDraft
    | HTTPValidationError
    | PolarError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PolarCore,
  request: OrdersFinalizeRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Order,
      | OrdersFinalizeResponse402OrdersFinalize
      | OrdersFinalizeResponse403OrdersFinalize
      | ResourceNotFound
      | OrderNotDraft
      | HTTPValidationError
      | PolarError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(OrdersFinalizeRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.OrderFinalize, { explode: true });

  const pathParams = {
    id: encodeSimple("id", payload.id, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/v1/orders/{id}/finalize")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.accessToken);
  const securityInput = secConfig == null ? {} : { accessToken: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "orders:finalize",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.accessToken,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    Order,
    | OrdersFinalizeResponse402OrdersFinalize
    | OrdersFinalizeResponse403OrdersFinalize
    | ResourceNotFound
    | OrderNotDraft
    | HTTPValidationError
    | PolarError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, Order$inboundSchema),
    M.jsonErr(402, OrdersFinalizeResponse402OrdersFinalize$inboundSchema),
    M.jsonErr(403, OrdersFinalizeResponse403OrdersFinalize$inboundSchema),
    M.jsonErr(404, ResourceNotFound$inboundSchema),
    M.jsonErr(412, OrderNotDraft$inboundSchema),
    M.jsonErr(422, HTTPValidationError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
